.Rproj.user
.DS_Store
test.R
.Rhistory
Rplots.pdf


# The src code for the FRK presentation
FRK_presentation

# Files that are too large to store on Github
data/chicago_crime_df.Rda
data/chicagocrimedf.rda
data/Sydney_shapefiles/SA1/SA1_2011_AUST.shp
data/Sydney_shapefiles/SA2/SA2_2011_AUST.shp
data/Sydney_shapefiles/SA3/SA3_2011_AUST.shp


# Files which are not of use currently, but I don't want to delete yet
untracked
scripts/MODIS_optimise_args.R


# Auxilliary files that don't need to be tracked
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.blg


